---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tanli.com</title>
	</head>
	<body>
		<h1>Welcome to Tanli.com</h1>
		<h2>Home of Tanli Design and Drakkir</h2>
		<p>Please contact me on info@tanli.com</p>
	</body>
</html>
